@media (min-width: 417px) and (max-width: 1024px) {
    footer {
        margin-top: 100px;
    }

    .pais {
        text-align: center;
    }

    .footer__ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer__ul div:first-child {
        flex-wrap: wrap;
        justify-content: center;
    }
}