body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #5f6368;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.encabezado {
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    overflow: hidden;
}

.menu__ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px;
    padding: 0;
    list-style: none;
}

.menu__item--puntos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 25px;
}

.menu__item--puntos:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.menu__item--acceder {
    padding: 9px 23px;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 4px;
}

.menu__item--acceder:hover {
    background-color: #3a84e4;
    cursor: pointer;
}

.menu__link,
.menu__link:hover {
    text-decoration: none;
}

main {
    flex-grow: 1;
    /* min-height: 503.5px; */
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 5px;
    margin-top: 110px;
}

.logo {
    width: fit-content; /* Con esta propiedad la imagen no se pone en un 100% */
}

.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 559px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.icon-lupa {
    width: 15px;
    height: 15px;
    padding: 0 10px 0 15px;
}

.input-search {
    flex-grow: 1;
    border: none;
    font-size: 1rem;
}

.input-search:focus {
    outline: none;
}

.icon-mic {
    width: 12px;
    padding: 0 20px 0 10px;
}

.cont-buttons {
    display: flex;
    gap: 15px;
}

.button {
    padding: 10px 16px;
    font-size: 14px;
    color: #3c4043;
    border-radius: 3px;
    border: none;
    background-color: #f8f9fa;
    border: 1px solid transparent;
}

.button:hover {
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.pais {
    padding: 0 30px;
    font-size: 15px;
    border-bottom: 1px solid #e2e2e2;
}

.footer__ul {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 14px;
    color: #5f6368;
    list-style: none;
}

.footer__ul div:first-child,
.footer__ul div:last-child {
    display: flex;
    gap: 30px;
}